html, body {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cv_photo_img {
  float: right;
}
.icon {
    float: right;
}
h1 {
  color: #618ad2;
  font-size: 28px;
   
}    
